.tournament-card-container {
  max-width: 1418px;
  display: grid;
  box-shadow: rgb(240, 240, 240) 0px -1px 0px inset;
  grid-template-columns: 80px auto 329px 155px 180px;
  min-height: 80px;
  border: 1px solid rgb(240, 240, 240);
  box-shadow: rgb(238, 238, 238) 0px -1px 0px inset;
}
.tournament-card-Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6f7fe;
  padding: 8px;
}
.tournament-card-details {
  display: flex;
  align-items: center;
  margin: 12px 0px;
  padding: 0px 16px;
  border-right: 1px solid rgb(240, 240, 240);
}
.tournament-card-info {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}
.tournament-card-info p {
  margin: 4px 0px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat";
  color: #25282b;
}
.tournament-card-tags {
  display: flex;
  flex-wrap: wrap;
}
.tournament-card-tags div {
  background-color: #f0f0f0;
  color: #52575c;
  font-size: 13px;
  font-family: "Montserrat";
  font-weight: 600;
  padding: 0px 8px;
  margin: 4px 4px 0px 0px;
  border-radius: 25%;
}
.tournament-card-prizing {
  width: 100%;
  margin: 12px 0px;
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #25282b;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 600;
  border-right: 1px solid rgb(240, 240, 240);
}
.tournament-card-prizing-info {
  display: flex;
  text-align: left;
  justify-content: space-between;
  font-size: 14px;
}
.tournament-card-prizing span {
  color: #52575c;
  font-size: 12px;
  font-family: "Montserrat";
  font-weight: 600;
}
.tournament-card-prizing-info span {
  color: #01d387;
}

.tournament-card-prize-pool {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 12px 0px;
  padding: 0px 24px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat";
  color: #25282b;
  border-right: 1px solid rgb(240, 240, 240);
}
.tournament-card-prize-pool span {
  color: #52575c;
  font-size: 12px;
  font-family: "Montserrat";
  font-weight: 600;
}

.tournament-card-entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  font-family: "Montserrat";
  color: #00acf6;
  margin-bottom: 4px;
  text-align: right;
  padding-right: 20px;
}
.tournament-card-entry span {
  font-size: 12px;
  color: #52575c;
}
